<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Spinner de chargement -->
  <ion-spinner *ngIf="isLoading" name="crescent" class="loading-spinner"></ion-spinner>

  <!-- Message d'erreur -->
  <ion-item *ngIf="errorMessage" lines="none" color="danger">
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
      <ion-text color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
        L'email est requis.
      </ion-text>
      <ion-text color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
        L'email doit être valide.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
      <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
        Le mot de passe est requis.
      </ion-text>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid || isLoading">Se connecter</ion-button>
  </form>
  <ion-button expand="block" fill="clear" (click)="goToInscription()">Pas de compte ? S'inscrire</ion-button>
</ion-content>